.App-logo {
  height: 40vmin;
  pointer-events: none;
}

// .rhap_theme-color, .rhap_background-color, .rhap_bar-color, .rhap_time-color, .rhap_font-family {
//   color: '#D0351E';
// }

.rhap_progress-indicator {
  background-color: #D0351E
}

.rhap_time, .rhap_current-time, .rhap_header
{
  color: #D0351E;
}

.rhap_volume-indicator, .rhap_progress-indicator, .rhap_repeat-button, .rhap_volume-button {
  color: darkred !important;
}

.rhap_volume-indicator {
  background-color: darkred;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  background-color: #28252b;
  color: white;
}


